// variables
$color-active: darksalmon;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
      
    .icons {
        width: 24px;
        height: 24px;
    }

    #popup {
        display: none;
        text-align: center;
        margin-top: 10px;
    }

    .calculator {
        border: 1px solid #ccc;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .top-display {
            display: grid;
            grid-template-columns: 2fr 6fr 2fr;
            

            .calculator-screen {
                width: 240px;
                font-size: 2rem;
                vertical-align: middle;
                line-height: 50px;
                height: 50px;
                border: 1px solid black;
                background-color: azure;
                color: black;
                text-align: center;
                padding-right: 20px;
                padding-left: 10px;
            }
        }

        .calculator-keys {
            display: grid;
            grid-template-columns: repeat(5, 1fr);

            
            #times{
                grid-area: 1/5;
            }
            
            #minus{
                grid-area: 2/5;
            }
            
            #plus{
                grid-area: 3/5;
            }

            .equal-sign{
                grid-area: 4/5;
            }
            
            #nthroot {
                grid-area: 1/1;
            }
            
            #cloud {
                grid-area: 2/1;
            }
            
            #seven {
                background-color: snow;
                grid-area: 1/2;
                &:hover{
                    background-color: #eaeaea;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            #eight {
                background-color: snow;
                grid-area: 1/3;
                &:hover{
                    background-color: #eaeaea;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            #nine {
                background-color: snow;
                grid-area: 1/4;
                &:hover{
                    background-color: #eaeaea;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            
            #plusminus {
                grid-area: 4/2;
            }
            
            #zero {
                background-color: snow;
                grid-area: 4/3;
                &:hover{
                    background-color: #eaeaea;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            
            .decimal {
                background-color: snow;
                grid-area: 4/4;
                &:hover{
                    background-color: #eaeaea;
                }
                &:active{
                    background-color: darksalmon;
                }
            }

            #four, #five, #six {
                background-color: snow;
                &:hover{
                    background-color: #eaeaea;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            
            #one {
                background-color: snow;
                grid-area: 3/2;
                &:hover{
                    background-color: #eaeaea;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            
            #two {
                background-color: snow;
                grid-area: 3/3;
                &:hover{
                    background-color: #eaeaea;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            
            #three {
                background-color: snow;
                grid-area: 3/4;
                &:hover{
                    background-color: #eaeaea;
                }
                &:active{
                    background-color: #e9967a;
                }
            }
        }

        button {
            height: 50px;
            background-color: aliceblue;
            border-radius: 3px;
            border: 1px solid #c4c4c4;
            font-size: 1.5rem;
            color: #333;
            background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
            box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
            text-shadow: 0 1px rgba(255,255,255,.4);

            &:hover {
                background-color: #eaeaea;
            }
            
            &:active{
                background-color: darksalmon;
            }
        }
    }

    .operation {
        display: none;
        grid-template-rows: 1fr 6fr;
        background-color: whitesmoke;
    }

    .scientific {
        display: none;
        grid-template-rows: 1fr 6fr;
        background-color: honeydew;
    }
}

body.dark-mode{

    .calculator {

        .calculator-keys {
            
            #seven {
                background-color: slategrey;
                &:hover{
                    background-color: #A1A1A1;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            #eight {
                background-color: slategrey;
                &:hover{
                    background-color: #A1A1A1;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            #nine {
                background-color: slategrey;
                &:hover{
                    background-color: #A1A1A1;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            
            #zero {
                background-color: slategrey;
                &:hover{
                    background-color: #A1A1A1;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            
            .decimal {
                background-color: slategrey;
                &:hover{
                    background-color: #A1A1A1;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
        
            #four, #five, #six {
                background-color: slategrey;
                &:hover{
                    background-color: #A1A1A1;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            
            #one {
                background-color: slategrey;
                &:hover{
                    background-color: #A1A1A1;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            
            #two {
                background-color: slategrey;
                &:hover{
                    background-color: #A1A1A1;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
            
            #three {
                background-color: slategrey;
                &:hover{
                    background-color: #A1A1A1;;
                }
                &:active{
                    background-color: darksalmon;
                }
            }
           
        }

        button {
            border-color: #2d3441;
            background-color: dimgray;
            color: white;
            text-shadow: none;
            &:hover{
                background-color: #A1A1A1;
                
            }
            &:active{
                background-color: darksalmon;
            }
        }
    }

    .operation {
        background-color: #8b8282;
    }
    
    .scientific {
        background-color: rgb(86, 114, 92);
    }
   
}

body.light-mode {
    .calculator { 
        .top-display{
            .calculator-screen{
                background-color: gold;
                color: black;
            }
        }
    }

    

    #light {
        background-color: #FFDAB9;
    }
}

.dark-mode.light-mode #light {
    background-color: #D2691E;
}


.dark-mode.scientific-mode {

    .calculator{
        #nthroot {
            background-color: #D2691E;
        }
    }

    .scientific {
        
        #scGrid{

            #mod{
                background-color: rgb(86, 114, 92);
                color: black;
                &:hover{
                    background-color: #A1A1A1;
                    
                }
                &:active{
                    background-color: darksalmon;
                }
            }

            .scBtn{
                border-color: #2d3441;
                background-color: dimgray;
                text-shadow: none;
                background-color: rgb(86, 114, 92);
                &:hover{
                    background-color: #A1A1A1;
                    
                }
                &:active{
                    background-color: darksalmon;
                }
            }
        }
    }
    
}

.scientific-mode {

    #popup {
        display: none;
        text-align: center;
        margin-top: 10px;
        width: 550px;
    }

    .calculator{
        display: grid;
        width: 551px;
        grid-template-columns: 400px 149px;

        #nthroot {
            background-color: #FFDAB9;
        }
    }

    .scientific{
        display: grid;
        height: 350px;
        grid-template-rows: 1fr 2fr 3fr 1fr;
        border: 1px solid #ccc;
        border-radius: 5px;
        
        #base {
            margin-top: 10%;
            text-align: center;
        }

        #scLog {
            height: 20px;
            width: 20px;
        }

        .scientificHead {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #scGrid {
            
            justify-content: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .scIcons {
                
                width: 24px;
                height: 24px;
            
            }

            #mod {
                background-color: honeydew;
                &:hover {
                    background-color: #eaeaea;
                }
                
                &:active{
                    background-color: darksalmon;
                }
                
            }
            
            .scBtn {
                height: 50px;
                background-color: honeydew;
                border-radius: 3px;
                border: 1px solid #b8b8b8;
                font-size: 1.5rem;
                color: #333;
                box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
                text-shadow: 0 1px rgba(255,255,255,.4);

                &:hover {
                    background-color: #eaeaea;
                }
                
                &:active{
                    background-color: darksalmon;
                }

                #power2, #powery, #rootn, #rooty, #pi {
                    background-image: linear-gradient(to bottom,transparent,transparent 100%,rgba(0,0,0,.04));

                }
            }
            
            
        }

    }
}

.history-mode {

    #popup {
        display: none;
        text-align: center;
        margin-top: 10px;
        width: 650px;
    }

    .calculator{
        display: grid;
        width: 650px;
        grid-template-columns: 249px 400px;

        #clock{
            background-color: #FFDAB9;
        }
    }
    
    .operation {
        display: grid;
        height: 350px;
        grid-template-rows: 1fr 6fr;
        border: 1px solid #ccc;
        border-radius: 5px;

        
        #opLog {
            height: 16px;
            width: 16px;
        }

        #operScreen {
            width: 249px;
            height: 278px;
            overflow: auto;
            text-align: center;
            margin-top: 20px;
        }

        .operHead {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }
}


.scientific-mode.history-mode { 
    
    #popup {
        display: none;
        text-align: center;
        margin-top: 10px;
        margin-left: 20px;
        width: 800px;
    }

    .calculator{
        display: grid;
        width: 800px;
        grid-template-columns: 249px 400px 149px;
    }
}


.dark-mode.history-mode #clock{
    background-color: #D2691E;
}

#result{
    white-space: pre;
  }

@media screen and (max-width: 600px) {
    .calculator {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: "display"
                             "operation"
                             "scientific";
    }

    .scientific {
        grid-area: scientific;
        height: 100%;
        margin-top: 0;
    }

    .display {
        height: auto; /* fix*/
    }
}